body{
    font-size: 12px;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: red;
    font-size: 3em;
}

p{
    font-size: 1em;
    padding: 2em;
}